.Style {
  width: 35%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.Collapsible {
  display: grid;
  grid-template-columns: 50% 50%;
}

.InnerCollapsible {
  display: grid;
  grid-template-columns: 50% 50%;
}

.TextAreaDiv {
  display: flex;
  flex-direction: column;
}
