body {
  background-color: #fff5e0;
  font-family: "Inter", sans-serif;
}

h1 {
  color: #141e46 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.lineOne {
  color: #c70039;
}
svg {
  margin: 10px;
  color: #a8a8a8;
}
textarea {
  width: 400px;
  min-height: 350px;
  max-height: 350px;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #a8a8a8;
}
.SubmitButton {
  background-color: #ff6969 !important;
  border: #ff6969 !important;
}
.UploadBox {
  border: 1px dashed #a8a8a8;
  color: #a8a8a8;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
  width: 275px;
  height: 350px;
  text-align: center;
  cursor: pointer;
  display: flex; /* Enable flex container */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  flex-direction: column;
}

.uploadboxel {
  display: flex; /* Enable flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align items to the center */
  justify-content: center; /* Justify content to the center */
}

/* .formContainer {
  display: flex;
  justify-content: center;
} */
.Picker {
  display: none;
}

.Picker::-webkit-file-upload-button {
  visibility: hidden;
}
